{{define "main"}}
<div class="pop gap--m padding--m">
  {{template "order" .}}
  <hr>
{{with .Data.order}}
  <form class="form--simple padding--m" action="/orders/deliver" method="post">
    <input type="hidden" name="OrderID" value="{{.Order.ID}}" />
    <div class="form__field">
      <label for="info">{{T "information required to receive the order" $.Lang}}</label>
      <textarea id="info" name="Info" spellcheck="false"></textarea>
    </div>
    <div class="form__field--right">
      <button type="submit" class="button--visible">{{T "submit" $.Lang}}</button>
    </div>
  </form>
{{end}}
</div>
{{end}}
