{{define "main"}}
<div class="centered gap--m">
  <table>
    <thead>
      <th>{{T "status" $.Lang}}</th>
      <th>{{T "product" $.Lang}}</th>
      <th>{{T "quantity" $.Lang}}</th>
      <th>{{T "price" $.Lang}}</th>
      <th>{{T "delivery" $.Lang}}</th>
      <th>{{T "action" $.Lang}}</th>
    </thead>
    <tbody>
      {{range .Data.orders}}
      <tr>
        <td><a href="/order?id={{.Order.ID}}">{{T .Order.Status $.Lang}}</a></td>
        <td><a href="/product?id={{.Product.ID}}">{{.Product.Title}}</a></td>
        <td>{{.Price.Quantity}}g</td>
        <td>{{.Price.Price}}€</td>
        <td>{{Head .DeliveryMethod.Description 40}}</td>
        {{if eq .Order.Status "delivered"}}
        <td class="bg-green">
          <a href="/orders/review?id={{.Order.ID}}">{{T "review" $.Lang}}</a>
          <a href="/orders/dispute?id={{.Order.ID}}">{{T "dispute" $.Lang}}</a>
        </td>
        {{else}}
        <td>{{T "none" $.Lang}}</td>
        {{end}}
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
