footer {
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	background-color: var(--color-bg-dark);
	height: 5em;
	margin-top: 2em;
}

footer a {
	color: var(--color-text-primary);
	text-decoration: none;
	font-weight: bold;
}
